@import 'https://fonts.googleapis.com/css?family=Lora|Raleway';
/*Simple Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;

}
/*font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif;*/


body {
	background-color: #FFFFFF;
	color: #002124;
	font-family: 'Lora', serif;
	letter-spacing: .05em;
	font-size: 16px
	
}

nav {
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

nav a {
	color: black;
	display: inline-block;
	width: 33.333%;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 1em 5em;
	margin: 0em 0 .1em 0;
   	letter-spacing: 0.2em;
    background: white;
}

main p {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	letter-spacing: .2em;
	line-height: 2em;
	margin: auto;
	padding: 2em 2em;
	text-align: center;
	width: 45em;
}

main img {
	width: 50%;
    margin: 0 auto;
    display: block;
    padding-top: 2em;
}

main h2 {
	width: 100%;
	text-align: center;
	font-size: 3em;
	margin-top: 1em;
	font-family: 'Raleway', sans-serif;
}

.hero {
	background:url(hero.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:47em;
	padding:1.25em 0;
	max-height: 100%;
	margin: 0 0;
	font-family: 'Raleway', sans-serif;
}

.hero h1 {
	font-size: 5em;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .07em;
	line-height: 1em;
	text-align: center;
	text-shadow: 1px 1px #dadada;
}


.btn {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 1em 4em;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 1.25em 0;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.btn1 {
	background-color: white;
	color: black;
	border: 2px solid #555555;
}

.btn1:hover {
	background-color: #555555;
	color:white;
}

.imgContainer {
	width: 33.333%;
	float: left;
	position: relative;
	height: 22vw;
	overflow: hidden;
	border: 1px solid black;
}

.imgContainer img {
	display: block;
	width: 100%;
}

.imgContainer a, .imgContainer p {
    /* background: rgba(249, 245, 245, 0.25); */
    text-shadow: .5px .5px black;
    font-size: 4.5em;
    color: white;
    position: absolute;
    text-decoration: none;
    /* padding: 1em 1em; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgContainer div {
	background:rgba(0,0,0,.5);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
}
.imgContainer:hover div {
	background:rgba(255,255,255,.5);
}

.footer {
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: .5em;
    float: left;
    margin: .7em 0;
    width: 33.33%;
}

.footer a {
	color: black;
	display: inline-block;
	text-align: center;
	padding: 1em 2em;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Lora', serif;
	letter-spacing: .3em;
	width: 100%;
}

.story_p {
	font-family: 'Lora', serif;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 2em;
    margin: auto;
    padding: 1em 1em;
    text-align: center;
    width: 28em;
    margin-top: 1em;
}

.shop_page h3 {
	text-align: center;
	font-size: 1em;
	padding: 1em 0;
    letter-spacing: .3em;
}

.shop_page p {
	text-align: left;
	font-size: .8em;
    padding: 1em 1em;
    width: 24em;
}

.col_1 {
	width: 33.33%;
	display: inline-block;
	float: left;
}

.col_2 {
	width: 33.33%;
	display: inline-block;
	float: left;

}

.col_3 {
	width: 33.33%;
	display: inline-block;
	float: left;

}

.img_container img{
	height: 25em;
	width: 85%;
}

.clearfix:after, .clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#align {
	text-align: center;
	display: inline-block;
	margin: 10em 0 0 10em;
}


#two_column {
	background-color: #BBFFE0;
    border: none;
    padding: 20px;
}

@media only screen and (max-width: 1060px) {

	.hero {
		background-position: 100% 0%;
	}

   main p { 
   		font-size: 1em; 
	}

	main img {
		width: 60%;
	}

	.img_container img {
	    height: 25em;
	    width: 98%;
	}

	.shop_page h3 {
	    font-size: .9em;
	    padding: .8em 0
	}

	.shop_page p {
		font-size: .7em;
	}
}

@media only screen and (max-width: 830px) {

	 .hero {
	 	height: 552px;
	 }

	 main p { 
	   	width: 30em;
		}

	.imgContainer {
		width: 100%;
		float: none;
		height: 407px;
	    margin-left: 0px;
	    margin-right: 0px;
	    border: 1px solid black;
}

	.imgContainer img {
		min-height: 405px;
}

	.imgContainer a {
	    font-size: 6.4em;
}
	main img {
		width: 70%;
	}

	.col_1 {
	width: 55%;
	display: block;
	float: none;
	margin: 0 auto;
}

	.col_2 {
		width: 55%;
		display: block;
		float: none;
		margin: 0 auto;

}

	.col_3 {
		width: 55%;
		display: block;
		float: none;
		margin: 0 auto;

}
	.shop_page h3 {
	    font-size: 1.5em;
	    padding: .8em 0
	}

	.shop_page p {
		font-size: 1em;
	}
	.story_p {
		font-size: 1.5em;
		width: 24em;
	}

}

@media only screen and (max-width: 720px) {
	
	.hero {
		background-position: 95% 75%;
	}

	main p {
		width: 30em;
		padding: 1em 1em;

	}

}

@media only screen and (max-width: 650px) {

	 nav a {
	 	display: block;
	 	float: none;
	 	width: 100%;
	 	text-align: center;
	 	margin: 0 auto;
	 }

	 .hero {
	 	background-size: initial;
	 	background-position: 88% 62%;
	 }

	 .hero h1 {
		font-size: 3.9em;
	    margin: 0 auto;
	    margin-top: 2em;
	    margin-bottom: .2em;
	    padding: 0 0;
}

	.btn1 {
		transform: none;
	}

	 main p {
		width: 25em;
		padding: 1.5em 1.5em;
	}

	.footer {
	border: none;
    display: block;
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
	}

	 .footer a {
	 	border: 1px solid black;
	 	width: 75%;
    	margin: 0 auto;
	}

	main img{
		width: 100%;
	}

	.story_p {
		font-size: 1em;
		width: 25em;
	}
	.img_container img {
	    height: 20em;
	    width: 100%;
	}

	.shop_page h3 {
    	font-size: 1em;
    }

	.shop_page p {
		font-size: .7em;
	}
}

@media only screen and (max-width: 460px) {

	 main p {
	 	font-size: .75em;
		width: 20em;
		padding: 1em 1em;
	}

	.footer {
	border: none;
    display: block;
    float: none;
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

	 .footer a {
	 	font-size: .7em;
	 	border: 1px solid black;
	 	width: 65%;
    	margin: 0 auto;
}
}
