/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

/*body {
	background-color: #0A271C;
}

h1, p {
	color: #EEE4BA;
}*/

body {
	background: #4372AA;
}

.button {
	background: #4372AA;
	border: 2px solid #D8BFD8;
	color: #D8BFD8;
	display: inline-block;
	font-family: Helvetica;
	letter-spacing: 3px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.button a {
	color: #D8BFD8;
	text-decoration: none;
}

.first {
	margin-left: 42%;
}

.hero {
  background: url("beach_runner.jpeg") no-repeat center center;
  background-size: cover;
  height: 90vh; 
}

  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.hero h1 {
	color: black;
	font-family: "Times New Roman";
	font-size: 6em;
	font-weight: 600;
	letter-spacing: .2em;
	text-align: center;
	text-shadow: 2px 2px #AAAAAA;
	
}

.hero p {
	color: white;
	font-family: "Times New Roman";
	font-size: 4em;
	font-style: italic;
	padding: 1em 4em 4em 4em;
	text-shadow: 2px 2px #363636;
	text-align: center;
	text-transform: italic;
}

.why {
	font-family: "Times New Roman";
	font-style: italic; 
	font-size: 3.5em;
	margin: 5%;
	padding: 5%;
	text-align: center;
}

#offer {
	font-family: "Times New Roman";
	font-size: 2.5em;
	letter-spacing: .1em;
	margin: 2%;
	padding: 2%;
	text-align: left;
}

#list {
	font-family: "Times New Roman";
	font-size: 2.5em;
	margin: 2%;
	padding: 2% 1%;
	letter-spacing: .2em;
	line-height: 3em;
	text-align: center;
}

.footer {
	background: #EEE5DE;
	border: 2px solid black;
	color: black;
	font-size: 2.5em;
	margin: 1em;
	padding: 3em 2em;
	text-align: center;
}
