/*Simple Reset*/
* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("beach_runner.jpeg");
	background-repeat: no-repeat;
	background-position: right-top;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	letter-spacing: .05em;
	color: #002124;
	background-color: #FFFFFF;
}

nav {
	margin: .5em;
	padding: .1em .2em .1em 45%;
}

.navbar a {
	text-align: center;
	text-decoration: none;
}

.hero {
	margin: 1% 10% 10% 10%;
}

.hero h1 {
	text-align: center;
	font-size: 5em;
	letter-spacing: .07em;
	text-shadow: 2px 2px #FFFFFC;
}

#slogan {
	color: #FFFFFC;
	font-style: italic;
	font-size: 2.5em;
	letter-spacing: .07em;
	text-align: center;
	text-shadow: 2px 2px #002124;
}

.shop_button {
	background-color: #FFFFFC;
    border: none;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2% 45% 2% 45%;
    cursor: pointer;
    letter-spacing: .04em;
    font-size: 2em;
}

header img {
	width: 33.3%;
	height: 25%;
}

.why {
	font-family: "Times New Roman";
	font-size: 1.5em;
	margin: 2%;
	padding: 2% 1%;
	letter-spacing: .1em;
	line-height: 3em;
	text-align: center;
}

.footer {
	background: #EEE5DE;
	border: 2px solid black;
	color: black;
	font-size: 1em;
	margin: 1em;
	padding: .04em 1em;
	text-align: center;
}