/*Simple Reset*/
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	letter-spacing: .05em;
}

img {
	width: 33.3%;

}

/*end of reset*/
/*

body {
	background: #4372AA;
}

.button {
	background: #4372AA;
	border: 2px solid #D8BFD8;
	color: #D8BFD8;
	display: inline-block;
	font-family: Helvetica;
	letter-spacing: 3px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.button a {
	color: #D8BFD8;
	text-decoration: none;
}

.first {
	margin-left: 42%;
}

.hero {
  background: url("beach_runner.jpeg") no-repeat center center;
  background-size: cover;
  height: 90vh; 
}

  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.hero h1 {
	color: black;
	font-family: "Times New Roman";
	font-size: 6em;
	font-weight: 600;
	letter-spacing: .2em;
	text-align: center;
	text-shadow: 2px 2px #AAAAAA;
	
}

.hero p {
	color: white;
	font-family: "Times New Roman";
	font-size: 4em;
	font-style: italic;
	padding: 1em 4em 4em 4em;
	text-shadow: 2px 2px #363636;
	text-align: center;
	text-transform: italic;
}

.why {
	font-family: "Times New Roman";
	font-style: italic; 
	font-size: 3.5em;
	margin: 5%;
	padding: 5%;
	text-align: center;
}

#offer {
	font-family: "Times New Roman";
	font-size: 2.5em;
	letter-spacing: .1em;
	margin: 2%;
	padding: 2%;
	text-align: left;
}

#list {
	font-family: "Times New Roman";
	font-size: 2.5em;
	margin: 2%;
	padding: 2% 1%;
	letter-spacing: .2em;
	line-height: 3em;
	text-align: center;
}

.footer {
	background: #EEE5DE;
	border: 2px solid black;
	color: black;
	font-size: 2.5em;
	margin: 1em;
	padding: 3em 2em;
	text-align: center;
}
*/